---
import Layout from '../layouts/main.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import AtAGlance from '../components/AtAGlance.astro';
import Tours from '../components/Tours.astro';
import AboutMe from '../components/AboutMe.astro';
import Region from '../components/Region.astro';
import GetInTouch from '../components/GetInTouch.astro';
import Footer from '../components/Footer.astro';
// Component Imports
import Button from '../components/Button.astro';
import ScreenSizeDEVTOOL from '../components/ScreenSizeDEVTOOL.astro';
import HeroTransition from '../components/HeroTransition.astro';
import GrapeVines from '../components/GrapeVines.astro';
import TestSection from '../components/TestSection.astro';
import FirstInfoSection from '../components/FirstInfoSection.astro';
import FirstInfoSectionV2 from '../components/FirstInfoSectionV2.astro';
import GrapeVinesV2 from '../components/GrapeVinesV2.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<Layout title="Brigitta Heyl – Geführte Wein-Erlebnistouren">
	<ScreenSizeDEVTOOL />
	<Header />
	<main>
		<Hero />
		<FirstInfoSectionV2 />



		<!-- <GrapeVinesV2 /> -->
		<!-- <FirstInfoSection /> -->
		<!-- <GrapeVines /> -->

		<!-- <HeroTransition /> -->
		<!-- <AtAGlance /> -->
		<Tours />
		<AboutMe />
		<Region />
		<GetInTouch />
	</main>
	<Footer />
</Layout>
