<section id="about-me" class="relative bg-white py-24 sm:py-32">
  <div class="absolute inset-0 z-0 opacity-1" style={{
    background: "url(https://www.toptal.com/designers/subtlepatterns/uploads/seamless_paper_texture.png)",
    backgroundSize: "15%",
    backgroundRepeat: "repeat",
  }}></div>
  <div class="absolute h-[60%] w-full top-0 left-0 bg-gradient-to-b from-white via-white/55 to-transparent z-0"></div>

  <div class="relative z-10 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-12 gap-12 items-center">
      
      <div class="md:col-span-5">
        <div class="relative rounded-2xl shadow-2xl overflow-hidden aspect-[3/4]">
          <img src="/BrigittaHeylPortrait.png" alt="Portrait von Brigitta Heyl" class="w-full h-full object-cover">
          <div class="absolute inset-0 bg-gradient-to-t from-black/20 via-transparent to-transparent"></div>
        </div>
      </div>

      <div class="md:col-span-7">
        <img src="/wineRing.png" alt="Vineyard background" class="absolute top-[0%] left-[50%] translate-x-[-90%] translate-y-[140%] w-[30%] object-cover opacity-85 -z-10 rotate-180" />
        <img src="/wineRing.png" alt="Vineyard background" class="absolute top-[0%] left-[100%] translate-x-[-50%] translate-y-[-20%] w-[40%] object-cover opacity-85 -z-10 rotate-90" />
        <h2 class="text-6xl font-normal text-red-950 lowercase font-doulaise">
          Ihre Gastgeberin
        </h2>
        <h3 class="mt-0 text-4xl font-extrabold font-bonanova tracking-tighter text-gradient-gold sm:text-5xl">
          Hallo und herzlich willkommen!
        </h3>
        <div class="mt-6 space-y-4 text-lg text-gray-600 font-body mix-blend-color-burn">
          <p>
            Als begeisterte Wahlpfälzerin liebe ich die Pfalz und meinen Wohnort Gimmeldingen. Seit 2023 bin ich <b> zertifizierte Kultur- und Weinbotschafterin</b> und freue mich, Ihnen die Schönheit und Vielfalt unserer Region näher zu bringen.
          </p>
          <p>
            Je nach Jahreszeit biete ich verschiedene 3-stündige Wein-Erlebnistouren/Weinbergs-Wanderungen an, die Sie durch unsere idyllischen Weinberge, zu den schönsten Aussichtspunkten oder durch den charmanten Ortskern von Gimmeldingen führen. An mehreren Stationen verkosten wir die Weine der umliegenden Weingüter mit hausgemachten Pfälzer Snacks – ein genussvolles Food-Pairing, das die Aromen perfekt zur Geltung bringt. Bei einigen Touren besuchen wir auch mehrere Weingüter direkt im historischen Ortskern.
          </p>
          <p>
            Bei jeder Tour erhalten Sie spannende Informationen zu Weinen und Weingütern, zum Weinbau, seiner Zukunft und zur Gimmeldinger Mandelblüte.
          </p>
          <p>
            Freuen Sie sich dabei auf spannende interaktive Erlebnisse, bei denen wir gemeinsam Geschichte lebendig werden lassen. Lassen Sie sich von meiner Begeisterung für die Pfalz anstecken und erleben Sie unvergessliche Momente in einer der schönsten Weinregionen Deutschlands.
          </p>
          <p class="font-semibold text-gray-700">
            Ich freue mich darauf, Sie auf eine meiner Touren mitzunehmen – schreiben Sie mir eine Mail oder rufen Sie einfach an!
          </p>
          <p class="mt-4 text-4xl text-black font-ballet mix-blend-color-burn text-right pr-44">
           brigitta heyl
          </p>
        </div>
      </div>

    </div>
  </div>
</section> 