---
import WaterColorReveal from './WaterColorReveal.tsx';  
---

<!-- src/components/TestSection.astro -->
<!-- Purpose: Alternating image/text sections with watercolor reveal effect tied to scroll progress -->

<section class="w-full flex flex-col gap-24 bg-white px-12 relative pb-[250px] overflow-x-clip">
  <div class="inset-0 absolute bg-gradient-to-b from-white to-transparent z-0"
  style={{
    backgroundImage: `url(/GimmeldingenMap.jpg)`,
    backgroundSize: 'cover',
    backgroundPosition: 'center',
    backgroundRepeat: 'no-repeat',
    opacity: 0.23,
    willChange: 'transform',
  }}/>

  <div class="w-full top-0 left-0 h-1/4 absolute bg-gradient-to-b from-white via-white/20 to-transparent z-0"/>
  
  <!-- Section 1: Image Right, Text Left -->
  <div class="inset-0 z-10 pt-12 ">
    <div class="w-full h-full absolute top-0 left-[50%] translate-x-[-10%] min-w-[600px]  z-0 max-w-[1200px] flex justify-center items-center opacity-10">
      <svg id="Final_Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3062.26 4609.72" class="bg-red-500/0 w-[100%] h-[100%] scale-[1.4]"> 
        <defs><style>.cls-1,.cls-2{isolation:isolate;opacity:.5;}.cls-2{fill:#8c6b6b;}.cls-3{stroke-dasharray:32.56 32.56;}.cls-3,.cls-4,.cls-5,.cls-6,.cls-7,.cls-8{fill:none;stroke:#8c6b6b;stroke-linecap:round;stroke-miterlimit:10;stroke-width:16px;}.cls-4{stroke-dasharray:31.03 31.03;}.cls-5{stroke-dasharray:31.96 31.96;}.cls-6{stroke-dasharray:31.23 31.23;}.cls-8{stroke-dasharray:32.47 32.47;}</style></defs>
        <g class="cls-1"><line class="cls-7" x1="714.63" y1="579.21" x2="702.18" y2="569.16"/><line class="cls-8" x1="676.93" y1="548.74" x2="33.07" y2="28.26"/><line class="cls-7" x1="20.44" y1="18.06" x2="8" y2="8"/></g>
        <g class="cls-1"><path class="cls-7" d="M1620.66,1520.95c.91-5.26,1.68-10.54,2.33-15.83"/><path class="cls-6" d="M1625.24,1473.98c2.21-94.73-37.61-190.36-119.86-255.54l-586.05-473.74"/><line class="cls-7" x1="907.2" y1="734.88" x2="894.76" y2="724.83"/></g>
        <g class="cls-1"><path class="cls-7" d="M787.53,2471.28c-.9-5.26-1.67-10.54-2.3-15.83"/><path class="cls-5" d="M783.01,2423.57c-1.9-96.47,39.68-193.89,125.88-258.9l527.93-398.21,37.05-27.94"/><line class="cls-7" x1="1486.62" y1="1728.9" x2="1499.39" y2="1719.27"/></g>
        <g class="cls-1"><path class="cls-7" d="M1896.66,3335.92c-3.31-4.18-6.72-8.29-10.23-12.3"/><path class="cls-3" d="M1863.76,3300.27c-13.08-12.15-27.23-23.25-42.35-33.12l-843.68-551.17-24.33-15.89"/><line class="cls-7" x1="939.78" y1="2691.18" x2="926.38" y2="2682.42"/></g>
        <g class="cls-1"><line class="cls-7" x1="2254.26" y1="4501.72" x2="2249.87" y2="4486.34"/><line class="cls-4" x1="2241.35" y1="4456.5" x2="2007.14" y2="3636.06"/><line class="cls-7" x1="2002.88" y1="3621.14" x2="1998.49" y2="3605.76"/></g><path class="cls-2" d="M1586.51,1667.22c-27.71,0-50.25-22.54-50.25-50.25s22.54-50.25,50.25-50.25,50.25,22.54,50.25,50.25-22.54,50.25-50.25,50.25ZM1586.51,1593.1c-13.16,0-23.87,10.71-23.87,23.87s10.71,23.87,23.87,23.87,23.87-10.71,23.87-23.87-10.71-23.87-23.87-23.87Z"/><path class="cls-2" d="M844.51,2657.22c-27.71,0-50.25-22.54-50.25-50.25s22.54-50.25,50.25-50.25,50.25,22.54,50.25,50.25-22.54,50.25-50.25,50.25ZM844.51,2583.1c-13.16,0-23.87,10.71-23.87,23.87s10.71,23.87,23.87,23.87,23.87-10.71,23.87-23.87-10.71-23.87-23.87-23.87Z"/><path class="cls-2" d="M1957.51,3513.22c-27.71,0-50.25-22.54-50.25-50.25s22.54-50.25,50.25-50.25,50.25,22.54,50.25,50.25-22.54,50.25-50.25,50.25ZM1957.51,3439.1c-13.16,0-23.87,10.71-23.87,23.87s10.71,23.87,23.87,23.87,23.87-10.71,23.87-23.87-10.71-23.87-23.87-23.87Z"/><path class="cls-2" d="M806.51,714.22c-27.71,0-50.25-22.54-50.25-50.25s22.54-50.25,50.25-50.25,50.25,22.54,50.25,50.25-22.54,50.25-50.25,50.25ZM806.51,640.1c-13.16,0-23.87,10.71-23.87,23.87s10.71,23.87,23.87,23.87,23.87-10.71,23.87-23.87-10.71-23.87-23.87-23.87Z"/>
      </svg>
    </div>
    <!-- <h2 class="w-full text-8xl text-stone-700 font-bold my-44 font-bonanova text-nowrap text-center">
      Alternatives Layout
  </h2> -->
  
    <div class="flex flex-col md:flex-row items-center justify-between gap-4 xl:gap-12 w-full max-w-6xl mx-auto ">
      <div class="flex-1 order-2 md:order-1 min-w-[320px] relative">
       

    <h2 class="text-3xl xl:text-4xl 2xl:text-5xl font-bold mb-2 font-bonanova tracking-tight text-nowrap">
      <span class="text-accent1/80 pr-32 text-nowrap">
        Erkunden Sie
      </span>
    </h2>
    <p class="text-lg xl:text-xl 2xl:text-2xl text-stone-700-700 mb-4">
      die wunderschöne Gegend rund um Neustadt an der Weinstraße.
    </p>
    <p class="text-sm text-stone-500/70">
      Lassen Sie sich beim Wandern durch die malerische Landschaft der Gegend rund um Neustadt verzaubern, 
      die für ihre Weinberge und deren Erzeugnisse weltweit bekannt ist. Von Hambach, Diedesfeld, 
      und Duttweiler, über Geinsheim, Gimmeldingen, Haardt, bis hin zu Lachen-Speyerdorf, Königsbach, Mußbach,
      die Region um Neustadt an der Weinstraße sprüht vor Geschichte und Tradition.
    </p>
    <h2 class="text-5xl xl:text-6xl 2xl:text-7xl font-normal text-soft-beige/50 mb-6 font-bonanova tracking-tight text-nowrap relative">
      <span class="text-5xl inline-block lg:absolute xl:top-[20%] left-[0%] lg:translate-x-[-110%]">
        ~
      </span>4 kilometer
    </h2>
      </div>
      
      <div class="flex-1 order-1 md:order-2 flex justify-center items-center relative saturate-[0.7] hover:saturate-[0.7] transition-all duration-300">
        <WaterColorReveal client:visible id="V2section-1" width={600} height={600}
        className="h-[600px] aspect-square absolute md:top-[50%] md:translate-y-[-25%] rounded-full overflow-hidden drop-shadow-[2px_3px_15px_rgba(0,0,0,0.5)] group z-0">
          <img slot="child1" src="/compressed-mj-vineYard-ColorPencilSketch.png" alt="Section 1" class="absolute object-cover object-[80%_50%] w-full h-full rounded-xl shadow-lg group-hover:opacity-0 transition-opacity duration-500" />
          <img slot="child2" src="/DroneShotImage-vineYards-Neustadt.png" alt="Section 1 Hover" class="absolute object-cover object-[70%_50%] w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-500" />
        </WaterColorReveal>
        <p class=" w-fit absolute bottom-[0%] right-[45%] translate-x-[100%] translate-y-[-20%] 
        text-nowrap text-4xl xl:text-5xl font-doulaise font-semibold mb-8 text-stone-200/70 md:text-stone-400/20 lowercase
        pr-32 pl-2 py-3 z-10">Träume und Schäume vom Rhein</p>
        <p class=" w-fit absolute bottom-[0%] right-[45%] translate-x-[100%] translate-y-[0%] 
        text-nowrap text-2xl xl:text-3xl font-doulaise font-semibold mb-8 text-stone-300 md:text-stone-400/15 lowercase
        pr-32 pl-2 py-3 z-10">werden sie teil von etwas besonderem und großartigem</p>
      </div>
    </div>
  
    <!-- Section 2: Image Left, Text Right -->
    <div class="flex flex-col md:flex-row items-center justify-between gap-4 xl:gap-12 w-full max-w-6xl mx-auto">
      <div class="flex-1 order-2 md:order-2">
        <h2 class="text-3xl xl:text-4xl 2xl:text-5xl font-bold mb-2 font-bonanova tracking-tight">
          <span class="text-accent1/80 pr-32 text-nowrap">
            Genießen Sie
          </span>
        </h2>
        <p class="text-lg xl:text-xl 2xl:text-2xl text-stone-700 mb-4">
          Weinerzeugnisse aus den Bergen der Region.
        </p>
        <p class="text-sm text-stone-500/70">
          Bekannt für seine Weinberge und seine Weinprodukt wird ihnen hier eine kleine Auswahl an lokal 
          produzierten Weinen angeboten. Und da zu einem guten Wein ein kleiner Happen nicht fehlen sollte,
          gibt es dazu ein paar eigens abgestimmte regionale Snacks, die eine perfekte geschmackliche Ergänzung
          darstellen. 
        </p>
        <h2 class="text-5xl xl:text-6xl 2xl:text-7xl font-normal text-soft-beige/50 mb-6 font-bonanova tracking-tight text-nowrap">
          4 bis 5 Weine
        </h2>
      </div>
      <div class="flex-1 order-1 md:order-1 flex justify-center saturate-[0.6] hover:saturate-[0.8] transition-all duration-300 group">
        <WaterColorReveal client:visible id="V2section-2" width={550} height={550} className="h-[550px] aspect-square rounded-full overflow-hidden drop-shadow-[0_0_15px_rgba(0,0,0,0.2)]">
          <img slot="child1" src="/compressed-wineBottle-mosaic-wall.png" alt="Section 4" class="absolute object-cover w-full h-full rounded-xl shadow-lg group-hover:opacity-0 transition-opacity duration-500"  />
          <img slot="child2" src="/wineGlass-Photo-Neustadt.png" alt="Section 1 Hover" class="absolute object-cover w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-500" />
        </WaterColorReveal>
        <p class="absolute bottom-[0%] right-[45%] translate-x-[100%] translate-y-[-20%] 
        text-2xl lg:text-5xl text-nowrap font-doulaise font-semibold mb-8 group-hover:opacity-0 transition-opacity duration-[700ms]
        bg-gradient-to-r from-stone-100/90 via-stone-300/70 to-stone-200/70 bg-clip-text text-transparent">welch ein erlesener tropfen</p>
        <p class="absolute bottom-[0%] right-[45%] translate-x-[100%] translate-y-[10%] 
        text-2xl lg:text-3xl text-nowrap font-doulaise font-semibold mb-8 group-hover:opacity-0 transition-opacity duration-1000
        bg-gradient-to-r from-stone-300/70 via-stone-500/20 to-stone-500/10 bg-clip-text text-transparent">wenn liebe zum detail nicht einfach nur eine floskel ist</p>
      </div>
    </div>
  
    <!-- Section 3: Image Right, Text Left -->
    <div class="flex flex-col md:flex-row items-center justify-between gap-4 xl:gap-12 w-full max-w-6xl mx-auto relative">
      <p class="w-fit absolute top-[80%] left-[0%] translate-x-[-10%] md:translate-y-[35%] 
      text-nowrap text-4xl xl:text-5xl font-doulaise font-semibold mb-8 text-stone-300/40 md:text-stone-400/20 lowercase
      pr-32 pl-2 py-3 z-10">abenteuer und erinnerungen
    </p>
        <p class="w-fit absolute top-[80%] left-[0%] translate-x-[-35%] md:translate-y-[90%] 
      text-nowrap text-xl xl:text-3xl font-doulaise font-semibold mb-8 text-stone-200/70 md:text-stone-400/20 lowercase
      pr-32 pl-2 py-3 z-10">...darum rate ich sei weise, zöger nicht und reise reise.
    </p>
      <div class="flex-1 order-2 md:order-1">
        <h2 class="text-3xl xl:text-4xl 2xl:text-5xl font-bold mb-2 font-bonanova tracking-tight">
          <span class="text-accent1/80 pr-32 text-nowrap">
            Erleben Sie
          </span>
        </h2>
        <p class="text-lg xl:text-xl 2xl:text-2xl text-stone-700 mb-4">
          interaktiv die Geschichte der Gegend über die verschiedenen historischen Epochen hinweg. 
          </p>
        <p class="text-sm text-stone-500/70">
          Ob als passiver Zuschauer oder zentraler Teil des Geschehens, während der interaktiven Tour-Elemente
          haben Sie die Möglichkeit in die lebendige Geschichte der Gegend einzutauchen. Dabei können die aktiven Teilnehmer
          der Tour in die Rolle einer historische Figur schlüpfen und die Geschichte hautnah erleben.
        </p>
        <h2 class="text-5xl xl:text-6xl 2xl:text-7xl font-normal text-soft-beige/50 mb-6 font-bonanova tracking-tight text-nowrap">
          3 bis 4 Stunden
        </h2>
      </div>
      <div class="flex-1 order-1 md:order-2 flex justify-center saturate-[0.45] hover:saturate-[1] transition-all duration-300">
        <WaterColorReveal client:visible id="V2section-3" width={500} height={500} className="h-[500px] aspect-square rounded-full overflow-hidden drop-shadow-[0_0_15px_rgba(0,0,0,0.2)] group">
          <img slot="child1" src="/compressed-mj-oldBook-mosaicGlass.png" alt="Section 3" class="absolute object-cover object-[50%_90%] w-full h-full rounded-xl shadow-lg group-hover:opacity-0 transition-opacity duration-500" /> 
          <img slot="child2" src="/interactiveHistory.png" alt="Section 1 Hover" class="absolute object-cover object-[0%_0%] w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-500" />
        </WaterColorReveal>
      </div>
    </div>
  
    <!-- Section 4: Image Left, Text Right -->
    <div class="flex flex-col md:flex-row items-center justify-between gap-4 xl:gap-12 w-full max-w-6xl mx-auto">
      <div class="flex-1 order-2 md:order-2">
        <h2 class="text-3xl xl:text-4xl 2xl:text-5xl font-bold mb-2 font-bonanova tracking-tight text-nowrap">
          <span class="text-accent1/80 lg:pr-32 text-nowrap">
            Entdecken Sie
          </span>
        </h2>
        <p class="text-lg xl:text-xl 2xl:text-2xl text-stone-700 mb-4">
          das Herz und die Seele der Weinregion rund um weltbekannte Demokratiestadt.
        <p class="text-sm text-stone-500/70 mb-6">
          Mit ihrem einzigartigen Charakter und Charme, verzaubert die Region ihre Besucher und bietet 
          Dank des größten Fachwerkhausbestand der Pfalz, von mittelalterlichen Gassen, historischen Marktplätzen, 
          dem Hambacher Schloss, und vielen weiteren historischen Stätten, 
          ein breites Angebot an Aktivitäten und Sehenswürdigkeiten.
        </p>
      </div>
      <div class="flex-1 order-1 md:order-1 flex justify-center saturate-[0.6] hover:saturate-[0.8] transition-all duration-300 group">
        <WaterColorReveal client:visible id="V2section-4" width={500} height={500} className="h-[500px] aspect-square rounded-full overflow-hidden drop-shadow-[0_0_15px_rgba(0,0,0,0.2)]">
          <img slot="child1" src="/compressed-mj-wineToasting-mosaicGlass.png" alt="Section 4" class="absolute w-[95%] h-[100%] top-[50%] left-[50%] translate-x-[-50%] translate-y-[-48%] group-hover:opacity-0 rounded-xl shadow-lg transition-opacity duration-500"  />
          <img slot="child2" src="/MandelBlüteMitLeuten.png" alt="Section 1 Hover" class="absolute object-cover object-[100%_90%] w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-500" />
        </WaterColorReveal>
        <p class=" w-fit absolute bottom-[0%] right-[45%] translate-x-[100%] translate-y-[-20%] 
        text-nowrap text-4xl lg:text-5xl font-doulaise font-semibold mb-8 px-6 py-3 group-hover:opacity-0 transition-opacity duration-[700ms]
        bg-gradient-to-r from-stone-100/90 via-stone-300/70 to-stone-200/70 bg-clip-text text-transparent">
        auf gute freundschaft</p>
        <p class=" w-fit absolute bottom-[0%] right-[45%] translate-x-[100%] translate-y-[10%] 
        text-nowrap text-2xl lg:text-3xl font-doulaise font-semibold mb-8 px-6 py-3 group-hover:opacity-0 transition-opacity duration-1000
        bg-gradient-to-r from-stone-400 via-stone-500/40 to-stone-500/10 bg-clip-text text-transparent">
        die nie rastet oder rostet, die nichts fordert oder kostet</p>
      </div>
      
    </div>

    <!-- Section 5: Image Right, Text Left -->
    <div class="flex flex-col md:flex-row items-center justify-between gap-4 xl:gap-12 w-full max-w-6xl mx-auto">
      <div class="flex-1 order-2 md:order-1">
        <h2 class="text-3xl xl:text-4xl 2xl:text-5xl font-bold mb-2 font-bonanova tracking-tight">
          <span class="text-accent1/80 pr-32 text-nowrap">
            Erfahren Sie
          </span>
        </h2>
        <p class="text-lg xl:text-xl 2xl:text-2xl text-stone-700 mb-4">
          was die Region um Neustadt an der Weinstraße so besonders macht.
          </p>
        <p class="text-sm text-stone-500/70 mb-6">
          Ob als passiver Zuschauer oder zentraler Teil des Geschehens, während der interaktiven Tour-Elemente
          haben Sie die Möglichkeit in die lebendige Geschichte der Gegend einzutauchen. Dabei können die aktiven Teilnehmer
          der Tour in die Rolle einer historische Figur schlüpfen und die Geschichte hautnah erleben.
        </p>
        
      <a href="/#tours" class="inline-flex items-center pl-4 pr-8 py-3
      bg-gradient-to-r from-amber-600 to-orange-600 text-white font-semibold text-lg rounded-full shadow-lg
       hover:from-amber-700 hover:to-orange-700 transform hover:scale-105 transition-all duration-300">
        <svg class="ml-2 w-5 h-5 rotate-90" fill="none" stroke="currentColor" viewBox="3 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
        Zu den Touren
      </a>
      </div>
      <div class="flex-1 order-1 md:order-2 flex justify-center saturate-[0.6] hover:saturate-[0.8] transition-all duration-300 group">
        <WaterColorReveal client:visible id="V2section-5" width={600} height={600} className="h-[600px] aspect-square rounded-full overflow-hidden drop-shadow-[0_0_15px_rgba(0,0,0,0.2)]">
          <img slot="child1" src="/mj-sunsetBuilding.png" alt="Section 1" class="absolute object-cover object-[80%_50%] w-full h-full rounded-xl shadow-lg group-hover:opacity-0 transition-opacity duration-500" />
          <img slot="child2" src="/yetAnotherVineYard.png" alt="Section 1 Hover" class="absolute object-cover w-full h-full opacity-0 group-hover:opacity-100 transition-opacity duration-500" />
        </WaterColorReveal>
        <p class="w-fit absolute bottom-[0%] left-[0%] translate-x-[-50%] md:translate-x-[-0%] sm:translate-y-[0%] translate-y-[120%]
      text-nowrap text-4xl xl:text-5xl font-doulaise font-semibold mb-8 text-stone-300/40 
      md:bg-gradient-to-r from-stone-400/70 via-stone-200/10 to-stone-200/40 bg-clip-text md:text-transparent
      lowercase  group-hover:opacity-0 transition-opacity duration-1000
      pr-2 pl-2 py-3 z-10">Tradition und Geschichte</p>
      </div>
      </div>

    </div>
    
    <!-- <div class="flex justify-center absolute bottom-0 left-[50%] translate-x-[-50%] w-full h-fit min-h-[50px] z-10
    bg-gradient-to-t from-white via-white/55 to-transparent ">
      <a href="/#tours" class="inline-flex items-center px-8 py-4  translate-y-[-50%]
      bg-gradient-to-r from-amber-600 to-orange-600 text-white font-semibold text-lg rounded-full shadow-lg
       hover:from-amber-700 hover:to-orange-700 transform hover:scale-105 transition-all duration-300">
        <svg class="ml-2 w-5 h-5 rotate-90" fill="none" stroke="currentColor" viewBox="3 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
        Zu den Touren
      </a>
    </div> -->



</section>
