
<header class="w-screen h-[70px] flex items-center justify-center
bg-white/30 backdrop-blur-[2px] shadow-md shadow-amber-950/5 sticky top-0 z-50">
  <nav class="h-full w-screen flex items-center justify-between py-2 px-6">
    <a href="#hero" class="text-2xl font-headline font-bold text-accent1">
      <img src=/Heyl-Weintouren-Logo-(noBottle).png alt="Logo"
      class="flex h-12 w-auto object-contain my-auto">
    </a>
    <ul class="flex space-x-6 font-body text-base my-auto h-full items-center">
      <li><a href="#hero" class="hover:text-accent2-plum transition">Start</a></li>
      <li><a href="#at-a-glance" class="hover:text-accent2-plum transition">Auf einen Blick</a></li>
      <li><a href="#tours" class="hover:text-accent2-plum transition">Touren</a></li>
      <li><a href="#about-me" class="hover:text-accent2-plum transition">Über mich</a></li>
      <li><a href="#region" class="hover:text-accent2-plum transition">Region</a></li>
      <li><a href="#get-in-touch" class="hover:text-accent2-plum transition">Kontakt</a></li>
    </ul>
  </nav>
</header> 