---
import mjVineYard from '/public/mj-vineYard-pencilSketch-1.png';
import washedOutColors from '/public/mj-vineYard-washedOutColors.png';
import logo from '/HWE-LogoV2.png';
---
<section id="hero" class="w-full h-full min-h-[70vh] relative mt-[-70px] ">
  <div class="w-full h-full min-h-[70vh] relative
  border-b-4 border-blue-500/0">
        <!-- <img src={washedOutColors.src} alt="vineyard washed out colors" class="w-full h-full object-cover" /> -->
        <img src={mjVineYard.src} alt="vineyard washed out colors" class="w-full h-full absolute inset-0
        object-cover object-bottom" />
        <div class="inset-0 absolute opacity-50
        bg-white/5 bg-gradient-to-b from-white via-white/90 to-white/20"/>
          <div class="absolute w-full h-full inset-0
          text-4xl font-headline text-white font-bold">
              <img src="/HWE-LogoV2-noText.svg" alt="Logo" class="w-[35%] mx-auto pt-12 mt-[100px] min-w-[200px] sm:min-w-[300px] 
              border-4 border-yellow-500/0
              object-cover" />
              <h1 class="text-4xl font-headline text-center w-full
              text-red-950 font-bold bottom-0
              ">
                Wein-Erlebnistouren
              </h1>
              <h1 class="hidden text-4xl text-gradient-gold
              ">
                Wein-Erlebnistouren
              </h1>
          </div>
   
        </div>
</section> 

